body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.calculator {
    margin: auto;
}

.btn.btn-light.btn-block, .btn.btn-secondary.btn-block{
    padding: 30px;
    background: gray;
    border-radius: 30%;
    margin-top: 10px;
    font-weight: 900;
    font-size: 25px;
}

.btn.btn-light.btn-block:hover{
    padding: 30px;
    background: red;
    border-radius: 30%;
    margin-top: 10px;
    font-weight: 900;
    font-size: 25px;
    color: white;
}